<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="statics/app.css" rel="stylesheet">
    <title>Boggle</title>   
    
</head>
<body>
    <section id="boggle">
        <h1>Boggle</h1>
        <table class="main">
            <thead></thead>
            <tbody>
            {% for row in board %}
                <tr>
                    {% for char in row %}
                    <td>{{char}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <section class="game-info">
        <div>
            <p>Highscore: <b>{{highscore}}</b> in {{num_played}} plays</p>
            <p>Time Left: <b class="timer"></b></p>
            <p class="messages"></p>
        </div>
        <ul class="list"></ul>
    </section>
    
    
    <form class="word-add" method="POST">
            <input type="text" name="word" class="word" placeholder="Word">
        <button>Enter!</button>
    </form>
    <button class="new-game">New Game</button>
    </section>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="/statics/app.js"></script>
    
</body>
</html>